<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key ="GovUkBaseUrl" value="https://www.gov.uk"/>
    <add key ="AttachmentDetailsString" value =".attachment-details h2 a"/>
    <add key ="FrameworkKeywordString" value ="Assessment"/>
    <add key ="StandardKeywordString" value="Apprenticeship"/>
  </appSettings>
  <connectionStrings>
    <add name="GovUk" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ApprenticeshipPDFWorker.Database;Integrated Security=True;Pooling=False;Connect Timeout=30"/>
  </connectionStrings>
</configuration>